<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ settings.blog_name }}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <!-- SEO Meta Tags -->
    <meta name="description" content="{% block description %}{{ settings.blog_description }}{% endblock %}">
    {% block meta %}{% endblock %}
    <!-- Open Graph -->
    <meta property="og:title" content="{% block og_title %}{{ settings.blog_name }}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{{ settings.blog_description }}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <!-- RSS Feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="#">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>{{ settings.blog_name }}</h1>
    <header>
        <nav>
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('blog.post', slug='now') }}">Now</a>
            <a href="{{ url_for('blog.post', slug='projects') }}">Projects</a>
            <a href="{{ url_for('blog.index') }}">Blog</a>
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
            <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
            <a href="{{ url_for('main.logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('main.login') }}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy;
            <script>document.write(new Date().getFullYear())</script> - {{ settings.blog_name }} - Made with Mead
        </p>
    </footer>
</body>

</html>