{% extends "base.html" %}

{% block content %}
<section class="intro">
    {{ settings.blog_description|markdown|safe }}
</section>

<section class="recent-posts">
    <h3>Recent Posts</h3>
    {% for post in recent_posts %}
    <ul>
        {% if post.external_url %}
        <li><a href="{{ post.external_url }}">{{ post.title }}</a></li>
        {% else %}
        <li><a href="{{ url_for('blog.post', slug=post.slug) }}">{{ post.title }}</a></li>
        {% endif %}
    </ul>
    {% endfor %}
</section>

<section class="popular-posts">
    <h3>Popular Posts</h3>
    {% for post in popular_posts %}
    <ul>
        {% if post.external_url %}
        <li><a href="{{ post.external_url }}">{{ post.title }}</a></li>
        {% else %}
        <li><a href="{{ url_for('blog.post', slug=post.slug) }}">{{ post.title }}</a></li>
        {% endif %}
    </ul>
    {% endfor %}
</section>
{% endblock %}