{% extends "base.html" %}

{% block content %}

{% if category %}
<h1>{{ category.name }}</h1>
{% endif %}

{% for post in posts %}
<div class="post-item">
    <time datetime="{{ post.created_at.isoformat() }}">
        {{ post.created_at.strftime('%d %b %Y') }}
    </time>
    <div class="content-wrapper">
    {% if post.external_url %}
        <a href="{{ post.external_url }}" class="title-link">{{ post.title }}</a>
        {% else %}
        <a href="{{ url_for('blog.post', slug=post.slug) }}">{{ post.title }}</a>
        {% endif %}
        
        {% if not category %}
        <a href="{{url_for('blog.list_category_posts_by_slug', slug=post.category.slug)}}" class="category-badge">{{ post.category.name }}</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}